/* * * * * * * * * > * * * * * * * * > | < * * * * * * * * < * * * * * * * * */
:root {
    --pageWidth: 500px;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                                   GLOBAL                                  */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

label {
    font-family: sans-serif;
}

input[type=text] {
    width: 3em;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                                   HEADER                                  */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

header {
    width: var(--pageWidth);
    margin: 30px auto;
    display: flex; display: -webkit-flex; display: -ms-flex;
    /*border: 2px solid blue;  /* DEBUG */
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                         TITLE AND SETTINGS BLOCK                          */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

h1 {
    font-size: 70px;
    font-family: "Open Sans", sans-serif;

    margin: 0;
    /*border: 2px solid red;  /* DEBUG */
}

#settingsContainer {
    margin-left: auto;
    /*border: 2px solid red;  /* DEBUG */
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                            SETTINGS: FIRST ROW                            */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#settingsContainer > .row1 {
    display: flex; display: -webkit-flex; display: -ms-flex;
    /*border: 1px solid green;  /* DEBUG */
}

#settingsContainer > .row > .col1 {
    /*border: 1px solid orange;  /* DEBUG */
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                            SETTINGS: SECOND ROW                           */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#settingsContainer > .row2 {
    margin-top: 5px;
    display: flex; display: -webkit-flex; display: -ms-flex;
    align-items: center;
    /*border: 1px solid green;  /* DEBUG */
}

#settingsContainer > .row2 > .col1 {
    margin-right: 5px;
    /*border: 1px solid orange;  /* DEBUG */
}

#settingsContainer > .row2 > .col2 {
    /*border: 1px solid orange;  /* DEBUG */
}

#settingsContainer > .row2 > .col3 {
    margin-left: auto;
    /*border: 1px solid orange;  /* DEBUG */
}

.colorBox {
    width: 3em;
    height: 1.5em;
    border: 2px solid black;
    /*background-color: pink;  /* DEBUG */
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                            SETTINGS: THIRD ROW                            */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#settingsContainer > .row3 {
    margin-top: 5px;
    display: flex; display: -webkit-flex; display: -ms-flex;
    /*border: 1px solid green;  /* DEBUG */
}

#settingsContainer > .row3 > .col1 {
    /*border: 1px solid orange;  /* DEBUG */
}

#settingsContainer > .row3 > .col2 {
    margin-left: 20px;
    /*border: 1px solid orange;  /* DEBUG */
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                                SKETCHBOARD                                */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#sketchContainer {
    width: var(--pageWidth);
    height: var(--pageWidth);
    margin: 30px auto;
    
    display: flex; display: -webkit-flex; display: -ms-flex;
    flex-flow: row wrap;
    /* background-color: grey;  /* DEBUG */
}

.sketchPixel {
    background-color: rgba(255, 255, 255, 1);
    outline: 2px solid black;
    /* height: calc(100% / 16);  /* DEBUG */
    /* width: calc(100% / 16);  /* DEBUG */
}